    body{
     color: #555;
     background: #5FB983;
     background: linear-gradient(90deg, rgba(95, 185, 131, 1) 0%, rgba(64, 165, 147, 1) 50%, rgba(69, 72, 153, 1) 100%);
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-variation-settings:
      "wdth" 100;
    }
    .container{
      margin: 50px auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;

      width: 400px;
      height: 400px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 2px 1px 9px 3px rgba(0,0,0,0.27);
      -webkit-box-shadow: 2px 1px 9px 3px rgba(0,0,0,0.27);
      -moz-box-shadow: 2px 1px 9px 3px rgba(0,0,0,0.27);
    }
    .wrap{
      display: flex;
      align-items:  center;
      flex-direction: column;
      gap: 25px;
      
      span {
        color: #888;
      }
    }
    .content-btn{
      display: flex;
      gap: 20px;

      .start-end {
        width: 100px;
        height: 35px;
        border-radius: 20px;
        color: white;
        background-color: #6a58a2;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;

        i span{
        color: white;
        margin-left:2px ;
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
        font-weight:600;
        }
      }
      .repeat i{
        padding: 9px 10px;
        border: 1px solid #6a58a2;
        border-radius: 100%;
      }
      
    }
   .timer-container {
      width: 250px;
      height: 250px;
      position: relative;
      cursor: pointer;
    }

    .timer-text {
      position: absolute;
      top: 50%;
      left: 11%;
      transform: translate(-0%, -50%);
      font-size: 48px;
      font-weight: bold;
    }

    svg {
      width: 100%;
      height: 100%;
      transform: rotate(-90deg); /* Mulai dari atas */
    }

    circle {
      fill: none;
      stroke-width: 8;
    }

    .background {
      stroke: #ddd;
    }
    .progress {
      stroke-linecap: round;
      transition: stroke-dashoffset 0.1s linear;
    }
    .modal{
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      padding: 10px;
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      width: 300px;
      height: 300px;
      background-color: #ecececfa;
      border-radius: 10px;
      box-shadow: 2px 1px 9px 3px rgba(0,0,0,0.27);
      -webkit-box-shadow: 2px 1px 9px 3px rgba(0,0,0,0.27);
      -moz-box-shadow: 2px 1px 9px 3px rgba(0,0,0,0.27);

      h3{
        margin: 0;
      }
    }
    .edit-time{
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size:xx-large;
      font-weight: 600;

      .btn-up, .btn-down{
        display: flex;
        gap: 65px;
      }
      i{
        cursor: pointer;
      }
      .number-time{
        display: flex;
        gap: 10px;
        background-color: white;
        padding: 0 15px;
        border-radius: 5px;
        border: 1px solid rgb(169, 169, 169);
        border-bottom: 3px solid #5FB983;

        h2{
          margin: 0;
        }
      }
    }
    .line{
      height: 1px;
      width: 100%;
      background-color: rgb(169, 169, 169);
    }
    #save{
      cursor: pointer;
      padding: 8px 25px;
      border-radius: 4px;
      background-color: #6a58a2;
      color: white;
      border: none;
      span{
        margin-left: 5px;
      }
    }
    #cancel{
      cursor: pointer;
      padding: 6px 23px;
      border-radius: 4px;
      background-color: white;
      border:1px solid rgb(169, 169, 169);
      color: rgb(169, 169, 169);
      span{
        margin-left: 4px;
      }
      
    }
    .font{
      font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
        "wdth" 100;
    }
    .name-timer{
      display: flex;
      gap: 10px;
      i{
        font-size:x-large;
      }
      input{
        margin: 0;
        padding: 4px 8px;
        outline: none;
        border: 1px solid rgb(169, 169, 169);
        border-bottom: 1.5px solid #5FB983;
        border-radius: 4px;
      }
      input::placeholder{
        opacity: 0.5;
      }
    }
    .backdrop{
      display: none;
      position: fixed;
      inset: 0;
      backdrop-filter: blur(2px); /* ini yang bikin blur */
    }
    .alert{
      display: none;
      position: fixed;
      width: 300px;
      border-radius: 5px;
      background-color: whitesmoke;
      left: 50%;
      top: 1%;
      transform: translateX(-50%);
      padding: 5px;
      box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.46);
      -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.46);
      -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.46);
      .alert-top{
        display: flex;
        justify-content: space-between;
        margin: 2px 0;
        border-bottom: 1px solid #c1c0c0;

        button{
          outline: none;
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: #777;

        }
      }
      .alert-content{
        margin: 15px 5px 0 0;

        h4,p{
          margin: 0;
        }
      }
    .dismiss{
      opacity: 0.8;
      cursor: pointer;
      margin: 10px 0 0;
      width: 100%;
      padding: 5px;
      color: white;
      background: #5FB983;
      background: linear-gradient(90deg, rgba(95, 185, 131, 1) 0%, rgba(64, 165, 147, 1) 50%, rgba(69, 72, 153, 1) 100%);
      border: none;
      border-radius: 3px;
      outline: none;
    }
    }
  .disabled{
    cursor: not-allowed;
    opacity: 0.5;
  }